  <div class="statistics" style="font-size:12px">
    <table class="table table-hover table-bordered" id="data_table">
      <thead>
        <tr>
          <th>日期</th>
<!--           <th>百度文库</th>
          <th>百度图片</th>
          <th>百度新闻</th>
          <th>百度应用</th>
          <th>百度地图</th>
          <th>百度书城</th>
          <th>百度游戏</th>
          <th>百度音乐</th>
          <th>百度旅游</th>
          <th>百度空间</th>
          <th>百度相册</th>
 -->
          <th>百度知道</th>
          <th>百度百科</th>
          <th>百度贴吧</th>

<!--           <th>腾讯info</th>
          <th>腾讯聊天</th>
          <th>腾讯书城</th>
          <th>腾讯家园1</th>
          <th>腾讯家族</th>
          <th>腾讯家园2</th>
          <th>腾讯手游</th>
          <th>腾讯围脖</th>
 -->
          <th>腾讯新闻</th>
          <th>凤凰新闻</th>
          <th>搜狐新闻</th>
          <th>搜狗搜索</th>
          <th>网易新闻</th>
          <th>天涯帖子</th>
          <th>3g.cn</th>
          <th>京东</th>
          <th>手机晋江网</th>
          <th>虎扑bbs</th>
          <th>百姓网</th>
          <th>乐讯</th>
          <th>环球网</th>
          <th>汽车之家</th>
          <th>19楼</th>
          <th>天下网</th>
          <th>糗事百科</th>
        </tr>
      </thead>
      <tbody>
      {% if (pvcount.length) %}
        {% for pv in pvcount %}
          <tr>
            <!-- <td>{{ pv.createdAt.toISOString()|date('M d, Y  h:m a') }}</td> -->
            <td>{{ pv.createdAt.toISOString()|date('Y-m-d') }}</td>
<!--             <td>{{ pv.pv_baidu_wk }}</td>
            <td>{{ pv.pv_baidu_img }}</td>
            <td>{{ pv.pv_baidu_news }}</td>
            <td>{{ pv.pv_baidu_app }}</td>
            <td>{{ pv.pv_baidu_map }}</td>
            <td>{{ pv.pv_baidu_book }}</td>
            <td>{{ pv.pv_baidu_game }}</td>
            <td>{{ pv.pv_baidu_music }}</td>
            <td>{{ pv.pv_baidu_travel }}</td>
            <td>{{ pv.pv_baidu_hi }}</td>
            <td>{{ pv.pv_baidu_xc }}</td>
 -->
            <td>{{ pv.pv_baidu_zd }}</td>
            <td>{{ pv.pv_baidu_bk }}</td>
            <td>{{ pv.pv_baidu_tb }}</td>

            <td>{{ pv.pv_tencent_info }}</td>
            <td>{{ pv.pv_tencent_q32 }}</td>
            <td>{{ pv.pv_tencent_ebook }}</td>
            <td>{{ pv.pv_tencent_house60 }}</td>
            <td>{{ pv.pv_tencent_family }}</td>
            <td>{{ pv.pv_tencent_lt }}</td>
            <td>{{ pv.pv_tencent_csg }}</td>
            <td>{{ pv.pv_tencent_wt }}</td>

            <td>{{ pv.pv_tencent_news }}</td>
            <td>{{ pv.pv_ifeng_news }}</td>
            <td>{{ pv.pv_sohu_news }}</td>
            <td>{{ pv.pv_sogou_ss }}</td>
            <td>{{ pv.pv_wangyi_news }}</td>
            <td>{{ pv.pv_tianya_bbs }}</td>
            <td>{{ pv.cn3g }}</td>
            <td>{{ pv.jd_products }}</td>
            <td>{{ pv.jj_books }}</td>
            <td>{{ pv.hupu_bbs }}</td>
            <td>{{ pv.bx_details }}</td>
            <td>{{ pv.lx_bbs }}</td>
            <td>{{ pv.hq_wap }}</td>
            <td>{{ pv.auho_news }}</td>
            <td>{{ pv.lou19_news }}</td>
            <td>{{ pv.tx_news }}</td>
            <td>{{ pv.pv_qiushi_bk }}</td>
          </tr>
        {% endfor %}
      {% endif %}
      </tbody>
    </table>
  </div> <!-- /container -->