  <div class="statistics" style="font-size:12px">
    <table class="table table-hover table-bordered" id="data_table">
      <thead>
        <tr>
          <th>日期</th>
          <th>百度搜索</th>
          <th>百度知道</th>
          <th>百度百科</th>
          <th>百度贴吧</th>
          <th>腾讯新闻</th>
          <th>凤凰新闻</th>
          <th>搜狐新闻</th>
          <th>搜狗搜索</th>
          <th>网易新闻</th>
          <th>天涯帖子bbs详情</th>
          <th>天涯帖子3g详情</th>
          <th>天涯帖子m详情</th>
        </tr>
      </thead>
      <tbody>
      {% if (pvcount.length) %}
        {% for pv in pvcount %}
          <tr>
            <!-- <td>{{ pv.createdAt.toISOString()|date('M d, Y  h:m a') }}</td> -->
            <td>{{ pv.createdAt.toISOString()|date('Y-m-d') }}</td>
            <td>{{ pv.pv_baidu_ss }}</td>
            <td>{{ pv.pv_baidu_zd }}</td>
            <td>{{ pv.pv_baidu_bk }}</td>
            <td>{{ pv.pv_baidu_tb }}</td>
            <td>{{ pv.pv_tencent_news }}</td>
            <td>{{ pv.pv_ifeng_news }}</td>
            <td>{{ pv.pv_sohu_news }}</td>
            <td>{{ pv.pv_sogou_ss }}</td>
            <td>{{ pv.pv_wangyi_news }}</td>
            <td>{{ pv.pv_tianya_bbs }}</td>
            <td>{{ pv.pv_tianya_3g }}</td>
            <td>{{ pv.pv_tianya_m }}</td>
          </tr>
        {% endfor %}
      {% endif %}
      </tbody>
    </table>
  </div> <!-- /container -->