  <div class="statistics" style="font-size:12px">
    <table class="table table-hover table-bordered" id="data_table">
      <thead>
        <tr>
          <th>日期</th>
          <th>百度搜索</th>
          <th>百度知道</th>
          <th>百度百科</th>
          <th>百度贴吧</th>
          <th>腾讯新闻</th>
          <th>凤凰新闻</th>
          <th>搜狐新闻</th>
          <th>搜狗搜索</th>
          <th>网易新闻</th>
          <th>天涯帖子bbs详情</th>
          <th>天涯帖子3g详情</th>
          <th>天涯帖子m详情</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2014-10-31</td>
          <td>1295580</td>
          <td>156994</td>
          <td>130848</td>
          <td>446639</td>
          <td>31947</td>
          <td>416579</td>
          <td>213784</td>
          <td>10279</td>
          <td>34994</td>
          <td>2439</td>
          <td>40654</td>
          <td>26426</td>
        </tr>
        <tr>
          <td>2014-11-01</td>
          <td>2138091</td>
          <td>240377</td>
          <td>197008</td>
          <td>656798</td>
          <td>46920</td>
          <td>608114</td>
          <td>278278</td>
          <td>16743</td>
          <td>43674</td>
          <td>3330</td>
          <td>53761</td>
          <td>40042</td>
        </tr>
        <tr>
          <td>2014-11-02</td>
          <td>1812567</td>
          <td>237253</td>
          <td>185802</td>
          <td>643101</td>
          <td>44027</td>
          <td>526219</td>
          <td>265578</td>
          <td>15092</td>
          <td>42294</td>
          <td>3264</td>
          <td>45737</td>
          <td>37272</td>
        </tr>
      </tbody>
    </table>
  </div> <!-- /container -->